NET	"IO_SYS_CLK"				LOC = P55;

#NET	"HIFA_SEL0"					LOC = P102;
#NET	"IO_SEL0"					LOC = P24;

#NET	"IO_BSYNC_OUT"				LOC = P139	| DRIVE = 8;
#NET	"IO_HSYNC_OUT"				LOC = P140	| DRIVE = 8;

NET	"IO_MODE_KEY"				LOC = P92;	#TEST_KEY1
#NET	"IO_LOAD_KEY"				LOC = P93;	#TEST_KEY2
NET	"IO_RESET_KEY"				LOC = P94;	#TEST_KEY3

#NET	"DVDD_uA_LOAD_EN"				LOC = P133;
#NET	"VCI_uA_LOAD_EN"				LOC = P134;
#NET	"VDD_uA_LOAD_EN"				LOC = P131;
#NET	"VBAT_uA_LOAD_EN"				LOC = P132;

#NET	"LM334_LOAD_SEL[0]"		LOC = P126;
#NET	"LM334_LOAD_SEL[1]"		LOC = P127;
#NET	"LM334_LOAD_SEL[2]"		LOC = P123;

#NET	"DVDD_uA_LOAD_ON"				LOC = P47;
#NET	"VBAT_uA_LOAD_ON"				LOC = P46;
#NET	"VCI_uA_LOAD_ON"				LOC = P48;
#NET	"VDD_uA_LOAD_ON"				LOC = P45;

#NET	"VBAT_mA_LOAD_ON"				LOC = P144;

NET	"LED1"						LOC = P5;
NET	"LED2"						LOC = P6;
#NET	"LED3"						LOC = P7;
#NET	"LED_AUTO"					LOC = P8;
#NET	"LED_MANU"					LOC = P9;
#NET	"LED_LOAD[1]"				LOC = P10;
#NET	"LED_LOAD[2]"				LOC = P11;
#NET	"LED_LOAD[3]"				LOC = P12;
#NET	"LED_LOAD[4]"				LOC = P14;
#NET	"LED_LOAD[5]"				LOC = P15;
#NET	"LED_uA"						LOC = P16;
#NET	"LED_mA"						LOC = P17;

#NET	"CARRIER_I2C_SCL"		LOC = P119;
#NET	"CARRIER_I2C_SDA"		LOC = P120;

#NET	"DA_SPI_SCLK"			LOC = P114;
#NET	"DA_SPI_SDO"			LOC = P115;
#NET	"DA_CS0"					LOC = P116;

#NET	"D_TX"					LOC = P29;
#NET	"D_RX"					LOC = P30;

#NET	"LCM_RESET"					LOC = P78;	#IO_IN0
#NET 	"LCM_RESET" CLOCK_DEDICATED_ROUTE = FALSE;
#NET	"PIC_RESET"					LOC = P79;	#IO_IN1
#NET 	"PIC_RESET" CLOCK_DEDICATED_ROUTE = FALSE;

#NET	"LCM_RESET"					LOC = P79;	#IO_IN0
#NET 	"LCM_RESET" CLOCK_DEDICATED_ROUTE = FALSE;
#NET	"PIC_RESET"					LOC = P78;	#IO_IN1
#NET 	"PIC_RESET" CLOCK_DEDICATED_ROUTE = FALSE;

#NET	"IO_SYS_CLK"				LOC = P55;
#NET	"IO_BSYNC_IN"				LOC = P138;
#NET	 "IO_BSYNC_IN" CLOCK_DEDICATED_ROUTE = FALSE;
NET	"IO_BSYNC_OUT"				LOC = P140	| DRIVE = 8;
#NET	"IO_HSYNC_OUT"				LOC = P139	| DRIVE = 8;
#
#NET	"IO_VDDEL_SEL_KEY"		LOC = P100;
#NET	"VBAT_Load_Sel_CH1"			LOC = P117;
#NET	"VBAT_Load_Sel_CH2"			LOC = P114;
#NET	"VBAT_Load_Sel_CH3"			LOC = P115;
#NET	"VBAT_Load_Sel_CH4"			LOC = P111;
#NET	"VBAT_Load_Sel_CH5"			LOC = P112;
##NET	"IO_VDDEL_MA_SEL_OUT"	LOC = P117;
#
#NET	"IO_MA_LED"					LOC = P6;
#NET	"IO_UA_LED"					LOC = P5;
#NET	"IO_LED3"					LOC = P8;
#NET	"IO_LED4"					LOC = P7;
#NET	"IO_LED5"					LOC = P10;
#
#NET	"LCM_RESET_CH1"				LOC = P79;
#NET	"LCM_RESET_CH2"				LOC = P78;
#NET	"LCM_RESET_CH3"				LOC = P81;
#NET	"LCM_RESET_CH4"				LOC = P80;
#NET	"LCM_RESET_CH5"				LOC = P83;
#
#NET	"LOAD_SEL1"					LOC = P82;
#NET	"LOAD_SEL2"					LOC = P85;
#NET	"LOAD_SEL3"					LOC = P84;
#NET	"LOAD_SEL4"					LOC = P88;
#NET	"LOAD_SEL5"					LOC = P87;
#
#NET	"AD_MUX[0]"					LOC = P9;
#NET	"AD_MUX[1]"					LOC = P12;
#
#NET	"AUTO_MENU"					LOC = P33;
#NET	"PULL_UP"					LOC = P29;
#
#
#

 


